<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/add" routerLinkActive="active">
        <div class="item-content">
          <span>Profile</span>
          <mat-icon class="right-icon1">person</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <div class="item-content">
          <span>My Profile</span>
          <mat-icon class="right-icon2">account_circle</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/bookings" routerLinkActive="active">
        <div class="item-content">
          <span>Bookings</span>
          <mat-icon class="right-icon3">book</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/request" routerLinkActive="active">
        <div class="item-content">
          <span>Requests</span>
          <mat-icon class="right-icon4">request_page</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/transaction" routerLinkActive="active">
        <div class="item-content">
          <span>Transaction</span>
          <mat-icon class="right-icon5">receipt</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/report-messages" routerLinkActive="active">
        <div class="item-content">
          <span>Report</span>
          <mat-icon class="right-icon6">report</mat-icon>
        </div>
      </a>
      <!-- Logout button -->
      <a mat-list-item (click)="logout()" class="logout-button">
        <div class="item-content">
          <span>Logout</span>
          <mat-icon class="right-icon6">exit_to_app</mat-icon>
        </div>
      </a>
     
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleDrawer()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="margin">SERVICE EXPRESS Barangay Mabayuan</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        class="custom-badge"
        [matBadge]="unseenRequestsCount"
        matBadgeColor="warn"
        matBadgePosition="above after"
        [matMenuTriggerFor]="notificationMenu"
      >
        <mat-icon>notifications</mat-icon>
      </button>

      <mat-menu #notificationMenu="matMenu">
        <ng-container *ngIf="unseenRequests.length > 0; else noNotifications">
          <button
            mat-menu-item
            *ngFor="let request of unseenRequests"
            (click)="viewRequest(request)"
          >
            <div>
              <strong>{{ request.user }}</strong> - {{ request.task }}
            </div>
            <small>{{ request.date }}</small>
          </button>
        </ng-container>
        <ng-template #noNotifications>
          <button mat-menu-item disabled>No new notifications</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
