<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar>Service Express</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/add" routerLinkActive="active">Add Profile</a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">My Profile</a>
      <a mat-list-item routerLink="/bookings" routerLinkActive="active">Bookings</a>
      <a mat-list-item routerLink="/request" routerLinkActive="active">Requests</a>
      <a mat-list-item routerLink="/transaction" routerLinkActive="active">Transaction</a>
      <a mat-list-item routerLink="/report-messages" routerLinkActive="active">Report</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleDrawer()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Worker Management</span>
      <span class="spacer"></span>
      <!-- Notifications Button with Badge -->
      <button
      mat-icon-button
      class="custom-badge"
      [matBadge]="unseenRequestsCount"
      matBadgeColor="warn"
      matBadgePosition="above after"
      [matMenuTriggerFor]="notificationMenu"
    >
      <mat-icon>notifications</mat-icon>
    </button>

      <!-- Notification Dropdown -->
      <mat-menu #notificationMenu="matMenu">
        <ng-container *ngIf="unseenRequests.length > 0; else noNotifications">
          <button
            mat-menu-item
            *ngFor="let request of unseenRequests"
            (click)="viewRequest(request)"
          >
            <div>
              <strong>{{ request.user }}</strong> - {{ request.task }}
            </div>
            <small>{{ request.date }}</small>
          </button>
        </ng-container>
        <!-- No Notifications Message -->
        <ng-template #noNotifications>
          <button mat-menu-item disabled>No new notifications</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
